{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<div class="ctct-header">
    <h2>Contact Us</h2>
</div>
<div class="ctct">
    <div class="address">
        <h3>Tariq Road Main Branch</h3>
        <h5>Address</h5>
        <p>Main Tariq Road, opposite of Dolmen Mall, Karachi, Pakistan</p>
    </div>
    <div class="contact">
        <h3>Contact Details</h3>
        <p>0312-xxxxxx</p>
        <h5>Office Landline</h5>
        <p>021-3xxxxx</p>
    </div>
</div>
{% endblock %}
