{% extends "index.html" %}

{% block title %}
    Dresses
{% endblock %}
{% block main %}

{% block searcher %}

{{ super() }}

{% endblock %}

{% for cate, cateinfo in catedict.items() %}
<div id="imgcont" class="containerxyz">
    <h2>{{ cate }}</h2>
    {% for info in cateinfo %}
    <div class="econt reveal">
        <a href="{{ url_for('itemdtls', proid=info['id']) }}">
        <div hidden class="productID">{{ info['id'] }}</div>
        <img id="tesT" src="{{ info['fimg'] }}" alt="img" height="" width=""/>
        <img class="hidden" src="{{ info['bimg'] }}" alt="img" />
        <div class="shoP">
            <h4 style="font-size: 20px; font-weight: 600;">{{ info['name'] }}</h4>
            <h4 class="hoveradd2cart" style="font-size: 20px; font-weight: 600;">+ Add to cart?</h4>
            <br>
            <div style="font-size: 20px;">Shop Now For {{ info['price'] }}</div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}